In [18]:
import pandas as pd 
from bs4 import BeautifulSoup

In [19]:
def read_file(file):
    with open(file, 'r', encoding='utf-8') as f:
        content = f.read()
    return content

In [20]:
df = pd.read_csv('../../data/raw/sg_nt_11102025.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   bus_company            565 non-null    object
 1   bus_star               565 non-null    object
 2   bus_type               565 non-null    object
 3   departure_time         565 non-null    object
 4   pick_up_point          565 non-null    object
 5   duration_h_m           565 non-null    object
 6   arrival_time           565 non-null    object
 7   drop_off_point         565 non-null    object
 8   arrival_date           373 non-null    object
 9   price_original         565 non-null    object
 10  price_discount         565 non-null    object
 11  discount_percent       424 non-null    object
 12  notification           338 non-null    object
 13  An toàn                260 non-null    float64
 14  Thông tin chính xác    260 non-null    float64
 15  Thông tin đầy đủ       260 non-null    float64
 16  Thái độ nhân viên      260 non-null    float64
 17  Tiện nghi & thoải mái  260 non-null    float64
 18  Chất lượng dịch vụ     260 non-null    float64
 19  Đúng giờ               260 non-null    float64
 20  Unnamed: 20            0 non-null      float64
dtypes: float64(8), object(13)
memory usage: 92.8+ KB

In [21]:
bus_type = df.loc[:, 'bus_type']
bus_type = pd.DataFrame(bus_type.value_counts())
bus_type

                                      count
bus_type
Limousine 32 giường (WC)                 54
Limousine 21 phòng đơn (WC)              47
Limousine giường nằm đơn 21 chỗ (WC)     47
Limousine 24 Phòng Đôi                   39
Limousine 20 giường phòng (WC)           34
...                                     ...
Limousine 34 Giường (rèm - không WC)      1
Giường nằm 41 chỗ                         1
Limousine 36 Giường (Mới)                 1
Limousine 34 Phòng                        1
Limousine 30 Phòng Đơn (WC)               1

[66 rows x 1 columns]

In [27]:
val = input()
df[df['bus_type'] == val]

,bus_company,bus_star,bus_type,departure_time,pick_up_point,duration_h_m,arrival_time,drop_off_point,arrival_date,price_original,...,discount_percent,notification,An toàn,Thông tin chính xác,Thông tin đầy đủ,Thái độ nhân viên,Tiện nghi & thoải mái,Chất lượng dịch vụ,Đúng giờ,Unnamed: 20
205,Hà Linh,4.1 (1329),Limousine 34 Giường (rèm - không WC),22:45,• An Sương - Siêu thị đá,6h,04:45,• Văn Phòng Nha Trang,(12/10),450.000,...,-29%,NaN,4.4,4.3,4.3,4.2,4.0,4.0,4.8,NaN

In [23]:
bus_rating = df['bus_star']
bus_rating = bus_rating.str.split(' ', expand=True)

In [24]:
amount_rating = bus_rating.iloc[:, 1]
amount_rating = amount_rating.str.strip('()')
amount_rating

0       3425
1       3650
2       8534
3       8322
4      16845
       ...
560     3425
561     3425
562     3425
563      279
564      279
Name: 1, Length: 565, dtype: object

In [25]:
bus_rating.iloc[:, 0].value_counts()

0
4.7    144
4      112
3.8     88
3.1     39
4.3     23
4.6     23
4.9     20
4.5     19
2.8     17
3.6     16
4.8     15
5       12
4.2     10
4.1      9
4.4      7
3.7      3
3.5      3
3.9      3
3.3      1
0        1
Name: count, dtype: int64